doctype 5
html
  head
    meta(charset="UTF-8")
    title Ismax
    link(rel='stylesheet', href='/resources/theme/app.css')
    link(rel='stylesheet', href='/resources/theme/common.css')
    script( src='http://www.ismaxonline.com:3000/ismax.io/socket.io.js')
    script( src='/ext/ext-all.js')
    script( src='/bootstrap.js')
    script( src='/app/app.js')
  body
    div(id="loader")
      div
        div
          img(src="/resources/theme/images/loader.gif")
    div(id="logo")
      img(src="/resources/theme/images/ismax_logo.png")